In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from math import sqrt

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/data_temperatur.csv')
df.head()

    Tanggal  Tavg  RH_avg   RR   ss  ff_x  ddd_x  ff_avg ddd_car    Tn    Tx
0  1/1/2019  27.8    82.0  3.2  5.4   8.0  350.0     3.0      N   24.8  31.0
1  2/1/2019  27.5    84.0  0.0  2.5   5.0  270.0     2.0      W   25.6  31.0
2  3/1/2019  27.5    85.0  1.6  2.6   4.0   10.0     1.0      C   25.0  29.8
3  4/1/2019  28.1    80.0  NaN  0.0   6.0   10.0     2.0      C   25.2  31.0
4  5/1/2019  28.5    81.0  0.0  0.0   5.0  340.0     2.0      C   25.2  31.0

In [ ]:
df.isna().sum()

Tanggal     0
Tavg       26
RH_avg     36
RR         42
ss         62
ff_x       15
ddd_x      15
ff_avg     15
ddd_car    15
Tn         20
Tx         21
dtype: int64

In [ ]:
df['Tavg'].fillna(df['Tavg'].mean(),inplace=True)
df['ss'].fillna(df['ss'].mean(),inplace=True)
df['RH_avg'].fillna(df['RH_avg'].mean(),inplace=True)
df['RR'].fillna(df['RR'].mean(),inplace=True)
df['ff_x'].fillna(df['ff_x'].mean(),inplace=True)
df['ff_avg'].fillna(df['ff_avg'].mean(),inplace=True)
df['ddd_x'].fillna(df['ddd_x'].mean(),inplace=True)
df['ddd_car'].fillna(df['ddd_car'].mode(),inplace=True)
df['Tn'].fillna(df['Tn'].mean(),inplace=True)
df['Tx'].fillna(df['Tx'].mean(),inplace=True)

In [ ]:
ddd_car_dummies=pd.get_dummies(df.ddd_car,prefix='d')
df=pd.concat([df,ddd_car_dummies],axis=1)
df.head()

,Tanggal,Tavg,RH_avg,RR,ss,ff_x,ddd_x,ff_avg,ddd_car,Tn,Tx,d_C,d_E,d_N,d_NE,d_NW,d_SE,d_W
0,1/1/2019,27.8,82.0,3.200000,5.4,8.0,350.0,3.0,N,24.8,31.0,0,0,1,0,0,0,0
1,2/1/2019,27.5,84.0,0.000000,2.5,5.0,270.0,2.0,W,25.6,31.0,0,0,0,0,0,0,1
2,3/1/2019,27.5,85.0,1.600000,2.6,4.0,10.0,1.0,C,25.0,29.8,1,0,0,0,0,0,0
3,4/1/2019,28.1,80.0,81.768501,0.0,6.0,10.0,2.0,C,25.2,31.0,1,0,0,0,0,0,0
4,5/1/2019,28.5,81.0,0.000000,0.0,5.0,340.0,2.0,C,25.2,31.0,1,0,0,0,0,0,0

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_squared_error
import statsmodels.formula.api as smf

In [ ]:
X=df.drop(['Tavg','Tanggal','ddd_car'],axis=1)
y=df['Tavg']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [ ]:
model=LinearRegression()
model=model.fit(X_train,y_train)
print(model.coef_)
print(model.intercept_)

[-3.48017150e-02 -3.48657122e-05 -4.91393212e-03 -5.93178841e-02
  8.15214254e-05  1.38599936e-01  3.96338528e-01  3.29104629e-01
 -1.56210506e-03 -8.70607743e-03  2.36175524e-01 -1.28153346e-01
 -3.24617585e-02 -1.51982447e-01  3.80863887e-04]
10.586539142025384

In [ ]:
prediksi=model.predict(X_test)
mean_squared_error(y_test,prediksi)

0.29938661194536603

In [ ]:
df.columns

Index(['Tanggal', 'Tavg', 'RH_avg', 'RR', 'ss', 'ff_x', 'ddd_x', 'ff_avg',
       'ddd_car', 'Tn', 'Tx', 'd_C ', 'd_E ', 'd_N ', 'd_NE', 'd_NW', 'd_SE',
       'd_W '],
      dtype='object')

In [ ]:
X_train.dtypes

RH_avg    float64
RR        float64
ss        float64
ff_x      float64
ddd_x     float64
ff_avg    float64
Tn        float64
Tx        float64
d_C         uint8
d_E         uint8
d_N         uint8
d_NE        uint8
d_NW        uint8
d_SE        uint8
d_W         uint8
dtype: object

In [ ]:
model1=smf.ols(formula='Tavg~RH_avg+RR+ss+ff_x+ddd_x+ff_avg+ddd_car+Tn+Tx',data=df).fit()
model1.conf_int()
model1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   Tavg   R-squared:                       0.716
Model:                            OLS   Adj. R-squared:                  0.713
Method:                 Least Squares   F-statistic:                     192.2
Date:                Sun, 11 Sep 2022   Prob (F-statistic):          1.07e-279
Time:                        14:40:01   Log-Likelihood:                -925.98
No. Observations:                1081   AIC:                             1882.
Df Residuals:                    1066   BIC:                             1957.
Df Model:                          14
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         9.9455      0.744     13.371      0.000       8.486      11.405
ddd_car[T.E ]    -0.0314      0.064     -0.493      0.622      -0.156       0.094
ddd_car[T.N ]     0.1949      0.097      2.008      0.045       0.004       0.385
ddd_car[T.NE]    -0.2786      0.238     -1.170      0.242      -0.746       0.188
ddd_car[T.NW]     0.0262      0.143      0.183      0.855      -0.255       0.308
ddd_car[T.SE]     0.0882      0.130      0.681      0.496      -0.166       0.342
ddd_car[T.W ]     0.0183      0.078      0.234      0.815      -0.135       0.171
RH_avg           -0.0326      0.004     -8.597      0.000      -0.040      -0.025
RR             -2.83e-05   2.18e-05     -1.301      0.194    -7.1e-05    1.44e-05
ss               -0.0024      0.008     -0.315      0.753      -0.017       0.012
ff_x             -0.0589      0.015     -3.946      0.000      -0.088      -0.030
ddd_x             0.0003      0.000      1.500      0.134   -8.18e-05       0.001
ff_avg            0.1336      0.035      3.779      0.000       0.064       0.203
Tn                0.3987      0.015     26.699      0.000       0.369       0.428
Tx                0.3398      0.016     20.779      0.000       0.308       0.372
==============================================================================
Omnibus:                       22.977   Durbin-Watson:                   1.428
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               40.403
Skew:                           0.133   Prob(JB):                     1.68e-09
Kurtosis:                       3.909   Cond. No.                     3.46e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.46e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [ ]:
columns=['RH_avg','ff_x','ff_avg','Tn','Tx']
X=df[columns]
y=df['Tavg']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [ ]:
model2=LinearRegression()
model2=model2.fit(X_train,y_train)
print(model.coef_)
print(model.intercept_)

[-3.48017150e-02 -3.48657122e-05 -4.91393212e-03 -5.93178841e-02
  8.15214254e-05  1.38599936e-01  3.96338528e-01  3.29104629e-01
 -1.56210506e-03 -8.70607743e-03  2.36175524e-01 -1.28153346e-01
 -3.24617585e-02 -1.51982447e-01  3.80863887e-04]
10.586539142025384

In [ ]:
prediksi=model2.predict(X_test)
mean_squared_error(y_test,prediksi)

0.3548726220785847